@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  box-sizing: border-box;
}
body{
    height:100vh;
}
.container{
    display:flex;
    align-items: center;
}
.weather-input{
    width:25%;
    position: fixed;
    inset:0;
    background-color:rgba(126, 189, 220, 0.943);
    padding:1rem 2.5rem;
}
.input-group{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.input-group input{
    background-color: white;
    text-transform: capitalize;
    padding:1rem;
    font-size: 15px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border:none;
}
.input-group .converter{
    position:absolute;
    right:45px;
    border:none;
    outline:none;
    font-size:18px;
    cursor:pointer;
}
.input-group .fa-search{
    position:absolute;
    right:15px;
    color:grey;
    cursor: pointer;
    font-size: 22px;
}
.weather-output{
    width:75%;
    position: fixed;
    inset:0;
    margin-left:25%;
    padding:2rem 2rem;
    background-color: hsla(0, 6%, 90%, 0.715);
    overflow: auto;
}
.highlight{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-auto-flow: row;
    row-gap:1rem;
    column-gap: 10px;;
}
.forecast{
    display: grid;
    grid-template-columns: repeat(4,260px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}
.highlight div,
.forecast div{
    height:200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(205, 223, 234);
    border-radius: 20px;
    padding: 1rem;
}
.highlight i{
    font-size: 45px;
}
.sun span{
    align-items: center;
    display: flex;
    gap:10px;
}
.weatherIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.weatherIcon img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.weather-input .feelslike,
.weather-input .description,
.weather-input .date,
.weather-input .city{
    padding: 10px 0;
}

.temperature{
    font-size: 5rem;
    text-align: center;
    display: flex;
    font-weight: 500;
}
.temp-unit {
  font-size: 0.5em;   
  margin-top: 20px;
}
.forecast-condition{
    color: grey;
    font-size: 1em;
    text-align: center;
    padding-bottom: 2px;
    font-style: italic;
}
.description i{
    font-size: 25px;
}
.heading{
    margin: 1rem 0;
}
